mixin select(name, label, className, active)
  if label
    label=label
  .custom-select
    .custom-select-wrapper(class!= className)
      span=name
      if active
        +svg('chevron-up', null, 'chevron')
      else
        +svg('chevron-down', null, 'chevron')

mixin qty(className)
  .quantity
    .quantity-input(class!= className) 1
    .quantity-actions
      .quantity-plus(class!= className)
        +svg('plus', '0 0 20 20')
      .quantity-minus(class!= className)
        +svg('minus', '0 0 20 20')

mixin section-divider()
  .section-divider

mixin label-component(name, description)
  .style-guide-label=name
  .style-guide-description!=description