.section-image-with-text {
  @extend %section-spacing;

  .image-with-text-container {
    display: flex;
    align-items: center;

    @include breakpoint(m) {
      display: block;
    }
  }

  .image-with-text-content {
    @extend %caption-w-title;
    @include span(6 of 12);
    padding: 0 span(1 of 12);
    text-align: center;

    button {
      @extend %button-large;
    }
    
    @include breakpoint(m) {
      float: none;
      width: 100%;
      padding-bottom: susy-gutter($susy-tablet) * 2;
    }

    @include breakpoint(s) {
      float: none;
      width: 100%;
      padding-bottom: susy-gutter($susy-mobile) * 2;
    }

    @include breakpoint(xs) {
      float: none;
      width: 100%;
      padding-bottom: susy-gutter($susy-tiny) * 2;
    }
  }
}

.image-with-text-image {
  @include span(6 of 12);
  margin-right: 0;
  object-fit: cover;


  @include breakpoint(m) {
    float: none;
    width: 100%;
    margin-bottom: susy-gutter($susy-tablet);

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include breakpoint(s) {
    margin-bottom: susy-gutter($susy-mobile);
  }

  @include breakpoint(xs) {
    margin-bottom: susy-gutter($susy-tiny);
  }

  img {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
  }

  .image-with-text-alignment-left & {
    order: -1;
    margin-right: inherit;
  }
}

.image-with-text-content {
  .image-with-text-alignment-left & {
    margin-right: 0;
  }
}