extends ./views/_blank.pug
block vars
  - var pageTitle = 'Pacific Style guide'
  - var bodyClass = 'style-guide'

block content
  .section-style-guide
    h1 Pacific Style Guide
    p Here you'll find all the available styles needed for the Pacific refresh
    .style-guide-row.style-guide-row-of-3
      h2 Forms
      h4 Select
      .style-guide-component
        +select('Select', 'Label')
        +label-component('Default')
      .style-guide-component
        +select('Select', 'Label', 'hover')
        +label-component('Hover')
      .style-guide-component
        +select('Select', 'Label', 'focused hover')
        +label-component('Focused')
      .style-guide-component
        +select('Select', 'Label', 'active hover', true)
        +label-component('Active')

    .style-guide-row.style-guide-row-of-3
      h4 Inputs
      .style-guide-component
        label.label Label
        input(placeholder="Placeholder")
        +label-component('Default')
      .style-guide-component
        +select('Select', 'Label', 'hover')
        +label-component('Hover')
      .style-guide-component
        +select('Select', 'Label', 'focused hover')
        +label-component('Focused')
      .style-guide-component
        +select('Select', 'Label', 'active hover', true)
        +label-component('Active')

    .style-guide-row.style-guide-row-of-3
      h2 Buttons
      h4 Primary
      .style-guide-component
        button Button
        +label-component('Default')
      .style-guide-component
        button.hover Button
        +label-component('Hover')
      .style-guide-component
        button.focus Button
        +label-component('Focused')
      .style-guide-component
        button.pressed.hover Button
        +label-component('Pressed')
    .style-guide-row.style-guide-row-of-3
      h4 Secondary
      .style-guide-component
        button.secondary Button
        +label-component('Default')
      .style-guide-component
        button.secondary.hover Button
        +label-component('Hover')
      .style-guide-component
        button.secondary.focus Button
        +label-component('Focused')
      .style-guide-component
        button.secondary.pressed.hover Button
        +label-component('Pressed')
    .style-guide-row.style-guide-row-of-3
      h4 Large Button
      p Increase the padding of the base button
      .style-guide-component
        button.button-large Button
        +label-component('Small Primary')
      .style-guide-component
        button.secondary.button-large Button
        +label-component('Small Secondary')
    .style-guide-row.style-guide-row-of-3
      h4 Small Button
      p Reduce the padding and font size of the base button
      .style-guide-component
        button.button-small Button
        +label-component('Small Primary')
      .style-guide-component
        button.secondary.button-small Button
        +label-component('Small Secondary')

    .style-guide-row.style-guide-row-of-2
      h2 Typography
      p Here are a list of all the typography options
      .style-guide-component
        h1.heading-1 Heading 1
        +label-component('Size: $font-size--heading-1 (40px / 1.2) - Color mapping: $color--headings')
      .style-guide-component
        h2.heading-2 Heading 2
        +label-component('Size: $font-size--heading-2, 32px / 1.2 - Color mapping: $color--headings')
      .style-guide-component
        h3.heading-32 Heading 3
        +label-component('Size: $font-size--heading-3, 24px / 1.2 - Color mapping: $color--headings')
      .style-guide-component
        h4.heading-4 Heading 4
        +label-component('Size: $font-size--heading-4, 18px / 1.2 - Color mapping: $color--headings')
      .style-guide-component
        h5.heading-5 Heading 5
        +label-component('Size: $font-size--heading-5, 16px / 1.2 - Color mapping: $color--headings')
      .style-guide-component
        h6.heading-6 Heading 6
        +label-component('Size: $font-size--heading-6, 14px / 1.2 - Color mapping: $color--headings')
      .style-guide-component
        p.body-l Body L
        +label-component('Size: $font-size--body-large, 18px / 1.75 - Color mapping: $color--text')
      .style-guide-component
        p Body
        +label-component('Size: $font-size--body, 16px / 1.75 - Color mapping: $color--text')
      .style-guide-component
        p.body-s Body S
        +label-component('Size: $font-size--body-small, 14px / 1.75 - Color mapping: $color--text')
      .style-guide-component
        p.body-s Buttons
        +label-component('Size: $font-size--body-small, 12px / 24px - Color mapping: varied')
      .style-guide-component
        h6.caption Captions
        +label-component('Size: $font-size--body-smaller, 12px / 1.2')
      .style-guide-component
        h6.caption Section headings
        +label-component('Size: $font-size--section-heading, 12px / 1.75')
      .style-guide-component
        p.menu-font Menu
        +label-component('Size: $font-size--body, 16px / 1.75 - Color mapping: $color--header-text')


