$susy: (
    'gutters': 32px,
    'max-width' : 1280px,
);

$susy-desktop-small: (
    'gutters': 24px,
);

$susy-tablet: (
    'gutters': 18px,
);

$susy-mobile: (
    'gutters': 14px,
);

$susy-tiny: (
    'gutters': 14px, 
);   