$susy: (
    'columns': susy-repeat(4),
    'gutters': 2rem * $multiplier,
    'max-width' : 1280px,
    'spread': 'narrow',
    'container-spread': 'narrow',
);

$susy-tablet: (
    'columns': susy-repeat(12),
    'gutters': 1.5rem * $multiplier,
);

$susy-mobile: (
    'columns': susy-repeat(4),
    'gutters': 1rem * $multiplier,
);

$susy-tiny: (
    'columns': susy-repeat(4),
    'gutters': 0.5rem * $multiplier,
);   