/* Typographic scale
------------------------- */

/* Heading */

$font-size--heading-1: (
  default : (rem($font-size-base * 2.5), 1.2), // $font-size-heading-1, 1.2
  l       : (rem($font-size-base * 2), 1.2), // $font-size-heading-2, 1.2
);

$font-size--heading-2: (
  default : (rem($font-size-base * 2), 1.2), // $font-size-heading-2, 1.2
  l       : (rem($font-size-base * 1.5), 1.2), // $font-size-heading-3, 1.2
);

$font-size--heading-3: (
  default : (rem($font-size-base * 1.5), 1.2), // $font-size-heading-3, 1.2
  s       : (rem($font-size-base * 1.125), 1.2), // $font-size-heading-2, 1.2
);

$font-size--heading-4: (
  default : (rem($font-size-base * 1.125), 1.2), // $font-size-heading-4, 1.2
  s       : (rem($font-size-base), 1.2), // $font-size-heading-3, 1.2
);

$font-size--heading-5: (
  default : (rem($font-size-base), 1.2) // $font-size-heading-5, 1.2
);

$font-size--heading-6: (
  default : (rem($font-size-base * 0.875), 1.2) // $font-size-heading-6, 1.2
);

/* Body */

$font-size--body-large: (
  default : (rem($font-size-base * 1.125), 1.75), // $font-size-body-large, 1.75
  s       : (rem($font-size-base), 1.75), // $font-size-body, 1.75
);

$font-size--body: (
  default : (rem($font-size-base), 1.75), // $font-size-body, 1.75
  s       : (rem($font-size-base * 0.875), 1.75), // $font-size-body-small, 1.75
);

$font-size--body-small: (
  default : (rem($font-size-base * 0.875), 1.75), // $font-size-body-small, 1.75
);

$font-size--body-smaller: (
  default : (rem($font-size-base * 0.75), 1.75), // $font-size-body-smaller, 1.75
);

$font-size--body-smallest: (
  default : (rem($font-size-base * 0.625), 1.75), // $font-size-body-smallest, 1.75
);