.section-collection.section
  .collection-container.collection-row-of-2.container
    a(href="#").collection-item
      figure.collection-image-overlay
        img(src="assets/img/collection-image-1.jpg")
      .collection-content
        //- h6.collection-caption.caption Caption
        h2.collection-title.title Signature series
        //- p.collection-subheading.subheading Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam voluptas doloribus eos iusto sapiente. Asperiores laborum minima quisquam eius modi odit maiores molestiae, eaque ipsa nulla, cumque illum. Libero, ipsa?
    a(href="#").collection-item
      figure.collection-image-overlay
        img(src="/assets/img/collection-image-2.jpg")
      .collection-content
        //- h6.collection-caption.caption Caption
        h2.collection-title.title Prestiege series
        //- p.collection-subheading.subheading Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam voluptas doloribus eos iusto sapiente. Asperiores laborum minima quisquam eius modi odit maiores molestiae, eaque ipsa nulla, cumque illum. Libero, ipsa?