.section-featured-products.has-section-title.section
  .featured-products-container.container
    .featured-products-section-title.section-title
      h2.section-heading Featured products
    .featured-products-list.featured-products-row-of-4
      article.featured-products-item
        a(href="#").featured-products-link
          figure.featured-products-image
            img(src="/assets/img/product-featured-image-1.jpg")
        .featured-products-details
          h6.featured-products-caption.caption Tanker
          h4.featured-products-title.title Bunny
          //- .reviews
          .featured-products-price
            span.price-default $499.99
            span.price-sale $599.99

      article.featured-products-item
        a(href="#").featured-products-link
          figure.featured-products-image
            img(src="/assets/img/product-featured-image-2.jpg")
        .featured-products-details
          h6.featured-products-caption.caption Tanker
          h4.featured-products-title.title Bunny
          //- .reviews
          .featured-products-price
            span.price-default $499.99
            span.price-sale $599.99

      article.featured-products-item
        a(href="#").featured-products-link
          figure.featured-products-image
            img(src="/assets/img/product-featured-image-3.jpg")
        .featured-products-details
          h6.featured-products-caption.caption Tanker
          h4.featured-products-title.title Bunny
          //- .reviews
          .featured-products-price
            span.price-default $499.99
            span.price-sale $599.99

      article.featured-products-item
        a(href="#").featured-products-link
          figure.featured-products-image
            img(src="/assets/img/product-featured-image-4.jpg")
        .featured-products-details
          h6.featured-products-caption.caption Tanker
          h4.featured-products-title.title Bunny
          //- .reviews
          .featured-products-price
            span.price-default $499.99
            span.price-sale $599.99

            

