.section-image-with-text.section
  .image-with-text-container.container
    .image-with-text-content
      h6.image-with-text-caption.caption Caption
      h2.image-with-text-title.title Image with text
      p.image-with-text-subheading.subheading Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quod, quam sint nihil, quia nisi aperiam quas provident vero repellendus aspernatur eius! Dicta quam laborum harum repellat nihil nam repellendus.
      button Shop now
    figure.image-with-text-image
      img(src="assets/img/image-with-text-1.jpg")
.section-image-with-text.section.image-with-text-alignment-left
  .image-with-text-container.container
    .image-with-text-content
      h6.image-with-text-caption.caption Caption
      h2.image-with-text-title.title Image with text
      p.image-with-text-subheading.subheading Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quod, quam sint nihil, quia nisi aperiam quas provident vero repellendus aspernatur eius! Dicta quam laborum harum repellat nihil nam repellendus.
      button Shop now
    figure.image-with-text-image
      img(src="assets/img/image-with-text-2.jpg")